.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.container-item {
  flex: 1;
  text-align: center;
}

.information {
  font-size: 16px;
  font-weight: 700;
}

.container-item-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

.container-item-bar > a {
  flex: 1;
}
